#CompleteRegistration {
  position: absolute; 
   width: 100%; 
  z-index: 100;
  
  left: 0px;
  background-color: rgba(223, 216, 216, 0.6);
  display: none;
  
}

.share-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: background 0.3s;
  border: none;
  cursor: pointer;
  float: right;
}

#qrCamera{
  
    margin-top: 9vh;
    height: 100vh;
    display: none;
    background-color: #773a4f; 
    display: non;
   

}

#reader {
  position: absolute;
  top: 10vh;
  width: 100%;        
  max-width: 80vw;   /* Max limit */
  position: relative;
  border: #fff solid 1px;
  border-radius: 1px;
  margin-left: 9vw;
  
  
}

#galaryIcon{
  position: absolute;
  left: 80vw;
  top: 20vh;
 width: 20px;
 height: 20px;
 
  /* transform: translateX(-50%);
  background: #c1d1e9;
  color: rgb(221, 199, 199);
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer; */

}

/*
#qr-file {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  opacity: 0;
  cursor: pointer;
}
.file-label {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #0d6efd;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
 */
